*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --off-white: hsl(0, 0%, 98%);
  --light-grey: hsl(0, 0%, 92%);
  --grey: hsl(0, 0%, 50%);
  --dark-grey: hsl(0, 0%, 20%);
  --off-black: hsl(0, 0%, 6%);
}


@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

body { 
  overscroll-behavior: none;
  height: 100vh;

  display: grid;
  grid-template-columns: 16rem calc(100vw - 16rem);
  grid-template-rows: 12rem calc(100vh - 12rem);

  font-family: "Roboto", sans-serif;
}

hr {
  border: none;
  border-top: 0.1px solid var(--grey);
}

.sidebar {
  grid-row: 1 / span 2;

  background-color: var(--dark-grey);
  color: var(--off-white);
  padding: 2rem 3rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar > .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 4px;
}

.icon-title-big {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
}

.icon-title {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.header {
  grid-row: 1;
  grid-column: 2;

  background-color: var(--off-white);
  border-bottom: 0.1px solid var(--dark-grey);

  display: grid;
  grid-row: repeat(2, 1fr);

  position: sticky;
  top: 0;
  left: 16rem;
  z-index: 1;
}

.header > .container:nth-of-type(1) {
  grid-row: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 2rem 2rem;
}

.left-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container:nth-of-type(1) > .left-wrapper {
  width: 50%;
}

.container:nth-of-type(1) > .right-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.right-wrapper > .container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  width: 100%;
  height: 2rem;
  border: 0.1px solid var(--dark-grey);
  border-radius: 12px;

}

.avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--off-black);
  border-radius: 50%;
  background-image: url(assets/images/avatar.png);
  background-size: cover;
  flex-shrink: 0;
}

.name {
  font-weight: 500;
}

.header > .container:nth-of-type(2) {
  grid-row: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem 2rem 2rem;
}

.avatar-big {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--off-black);
  border-radius: 50%;
  background-image: url(assets/images/avatar.png);
  background-size: cover;
  flex-shrink: 0;
}

.greetings {
  font-size: 0.8rem;
}

.name-big {
  font-size: 1.3rem;
  font-weight: 500;
}

.user-name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-grey);
  opacity: 0.8;
}

.container:nth-of-type(2) > .right-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

button {
  padding: 0.6rem 1.6rem;
  border-radius: 12px;
  border: none;
  background-color: var(--dark-grey);
  color: var(--off-white)
}

.content {
  grid-row: 2;
  grid-column: 2;

  overflow-y: auto;

  background-color: var(--light-grey);

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;

  padding: 2rem;
}

.left-column {
  grid-column: 1;
  outline: 1px solid red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

@media(max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var(--off-white);
  padding: 2rem;
  border: 0.1px solid var(--dark-grey);
  border-radius: 12px;
  height: 12rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: hidden;

}

.section {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

.text {
  font-size: 1rem;
  opacity: 0.8;
}

.right-column {
  grid-column: 2;
  outline: 1px solid red;
}