*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-woff2/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body { 
  overscroll-behavior: none;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr 4.5fr;

  font-family: "Roboto", sans-serif;
}

.sidebar {
  grid-row: 1 / span 2;

  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 98%);
  padding: 1em 1em;
}

.header {
  grid-row: 1;

  background-color: hsl(0, 0%, 98%);
}

.content {
  grid-row: 2;

  background-color: hsl(0, 0%, 60%);
}

.icon-title {
  display: flex;
  gap: 1em;
  justify-content: start;
  align-items: center;
}
